figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}


.blankbox {
    background: $theme-color;
}
.img_row {
    height: auto ;//$img-height
    width: 100%;
    overflow: hidden;
    box-sizing:border-box;
}
.img_pro {
    width: auto;
    //vertical-align: middle;
    text-align: center;
    margin:3px;
    box-sizing:border-box;
}
.img_pro3{
  @extend .img_pro;
  //padding: 0px 50px;//notuseful,because this is not a table td
  width: 200px;
  height: 200px; 
}
.col {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing:border-box;
    padding: $img-spacing;
}
.one {
    width:33%;
}
.two {
    width: 66.66%;
}
.three {
    width: 100%;
}
.caption {
    height: 100%;
    color: $caption-color;
    text-align: center;
    vertical-align: middle;
    font-size: $caption-font-size;
}
