---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <h5 class="post-description">{{ page.description }}</h5>
  </header>

  <article class="post-content {{page.title}} clearfix">
    {% if page.profile %}
      <div class="profile col one {{ page.profile.align }}">
        {% if page.profile.image %}
          <img class="one" src="{{ page.profile.image | prepend: '/assets/img/' | prepend: site.baseurl | prepend: site.url }}">
        {% endif %}
        {% if page.profile.address %}
          <div class="address" style= "text-align:center; color: #0000ff">
            {{ page.profile.address }}
          </div>
        {% endif %}
      </div>
    {% endif %}

    {{ content }}
  </article>

  {% if page.news %}
    {% include news.html %}
  {% endif %}

  {% if page.social %}
    {% include social.html %}
  {% endif %}
  <p1>
  <script type="text/javascript" src="//ra.revolvermaps.com/0/0/8.js?i=0b6o7xkzc1m&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;f=arial&amp;l=33" async="async"></script>
  <noscript>Sorry, your browser does not support JavaScript!</noscript>
  </p1>
</div>
