---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <h5 class="post-description">{{ page.description }}</h5>
  </header>

  <article class="post-content {{page.title}} clearfix">
    {{ content }}
  </article>

  {% if page.news %}
    {% include news.html %}
  {% endif %}

  {% if page.social %}
    {% include social.html %}
  {% endif %}

</div>

{% if site.disqus_shortname and page.comments %}

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_config = function () {
    this.page.url = "{{page.permalink}}";
    this.page.identifier = "{{page.id}}";
  };

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://pengbohua-github-io-2.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% endif %}
